@tailwind base;
@tailwind components;
@tailwind utilities;

/* .body{
  margin: 10;
  min-height: 100vh;
  box-sizing: border-box;
} */


/* body {
  margin: 0;
  padding: 0;
  
  animation: backgroundAnimation 30s ease infinite;
}

@keyframes backgroundAnimation {
  0% {
    background-color: #e0e0e0; 
  }
  50% {
    background-color: #e1dbdb; 
  }
  100% {
    background-color: #e0e0e0; 
  }
} */

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(45deg, #F0F0F0, #E0E0E0); /* Colores suaves */
  opacity: 0.5; /* Ajusta la opacidad para un efecto más sutil */
  pointer-events: none;
  animation: backgroundAnimation 60s linear infinite alternate;
}

@keyframes backgroundAnimation {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(5px, -5px); /* Ajusta la distancia y dirección del movimiento */
  }
}
